<!-- <form>
  <label for="email">Email</label>
  <input type="email" name="email" id="email" #email>

  <label for="password">Password</label>
  <input type="password" name="password" id="password" #password>

  <button type="submit" [disabled]="!isEnabled" (click)="login(email.value, password.value)">Login</button>
</form> -->

<form>
  <label for="email">Email</label>
  <input type="email" name="email" id="email" #email>

  <label for="password">Password</label>
  <input type="password" name="password" id="password" #password>

  <button type="submit">Login</button>
</form>
